<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Healthchecks" id="536f132b-db41-4e01-8d77-9fe2b52a301a" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="536f132b-db41-4e01-8d77-9fe2b52a301afileName">Healthchecks</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
