<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Status Checks" id="d1cf350e-ac33-4111-bf86-7f0d71de5d30" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d1cf350e-ac33-4111-bf86-7f0d71de5d30fileName">Status-Checks</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
