<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project updated="3.3.1" runType="SEQUENTIAL" resourceRoot="${projectDir}" name="Riot Identity Platform - SoapUI Support Team" id="eb1bccae-3383-465b-9a4a-397e18300fe8" encryptionMode="Not encrypted" created="3.0.0" compositeProjectFormat="1.3" activeEnvironment="clone_of_test" abortOnError="false" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eb1bccae-3383-465b-9a4a-397e18300fe8fileName">Riot-Identity-Platform</con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerUIAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="Account Service Healthcheck"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="&lt;all>"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="/Applications/ReadyAPI-3.0.0.app/Contents/Resources/app/bin"/>
  <con:entry key="Environment" value="stage-aws"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="/Users/mlutzke"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="true"/>
</xml-fragment>]]></con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="rso-account-service"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="&lt;all>"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="/Applications/ReadyAPI-3.0.0.app/Contents/Resources/app/bin"/>
  <con:entry key="Environment" value="Default environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>numberRestrictions</con:name>
    </con:property>
    <con:property>
      <con:name>numberActiveRegions</con:name>
    </con:property>
    <con:property>
      <con:name>numberTotalRegions</con:name>
    </con:property>
    <con:property>
      <con:name>platformCode</con:name>
    </con:property>
    <con:property>
      <con:name>defaultEmail2</con:name>
    </con:property>
    <con:property>
      <con:name>defaultEmail</con:name>
    </con:property>
    <con:property>
      <con:name>regionless_password</con:name>
    </con:property>
    <con:property>
      <con:name>federated_puuid</con:name>
    </con:property>
    <con:property>
      <con:name>regionless_username</con:name>
    </con:property>
    <con:property>
      <con:name>regionless_puuid</con:name>
    </con:property>
    <con:property>
      <con:name>c2id_bearer</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env-secret</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env</con:name>
    </con:property>
    <con:property>
      <con:name>ambiguous_puuid</con:name>
    </con:property>
    <con:property>
      <con:name>ambiguous_password</con:name>
    </con:property>
    <con:property>
      <con:name>ambiguous_username</con:name>
    </con:property>
    <con:property>
      <con:name>puuid</con:name>
    </con:property>
    <con:property>
      <con:name>password</con:name>
    </con:property>
    <con:property>
      <con:name>username</con:name>
    </con:property>
    <con:property>
      <con:name>atlas-env-secret</con:name>
    </con:property>
    <con:property>
      <con:name>atlas-env</con:name>
    </con:property>
    <con:property>
      <con:name>signupCaptchaBypass</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env-secret</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env-secret</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-env-secret</con:name>
    </con:property>
    <con:property>
      <con:name>test-automation-env</con:name>
    </con:property>
    <con:property>
      <con:name>otherRegion2</con:name>
    </con:property>
    <con:property>
      <con:name>otherRegion</con:name>
    </con:property>
    <con:property>
      <con:name>destRegion</con:name>
    </con:property>
    <con:property>
      <con:name>srcRegion</con:name>
    </con:property>
    <con:property>
      <con:name>accountIndex</con:name>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-long-lived-token</con:name>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-basic</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:environment name="clone_of_test" index="1" id="7453f232-4f30-426e-be59-5ccef1cc3293">
    <con:service type="REST" name="https://iamcredentials.googleapis.com">
      <con:endpoint wssType="" wssTimeToLive="" username="" proxyUsername="" proxyPort="" proxyPassword="" proxyHost="" password="" outgoingWss="" incomingWss="" domain="" authProfile="Inherit From Parent">https://idtoken.googleapis.com</con:endpoint>
    </con:service>
    <con:service type="REST" name="https://oauth2.googleapis.com">
      <con:endpoint wssType="" wssTimeToLive="" username="" proxyUsername="" proxyPort="" proxyPassword="" proxyHost="" password="" outgoingWss="" incomingWss="" domain="" authProfile="Inherit From Parent">https://oauth1.googleapis.com</con:endpoint>
    </con:service>
    <con:property>
      <con:name>numberRestrictions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>numberActiveRegions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>numberTotalRegions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>platformCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>defaultEmail2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>defaultEmail</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>federated_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>c2id_bearer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>atlas-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>atlas-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>signupCaptchaBypass</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env-secret</con:name>
      <con:value>aqPass2</con:value>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env</con:name>
      <con:value>qa2</con:value>
    </con:property>
    <con:property>
      <con:name>test-automation-env-secret</con:name>
      <con:value>aqPass</con:value>
    </con:property>
    <con:property>
      <con:name>test-automation-env</con:name>
      <con:value>QA</con:value>
    </con:property>
    <con:property>
      <con:name>otherRegion2</con:name>
      <con:value>Brazil</con:value>
    </con:property>
    <con:property>
      <con:name>otherRegion</con:name>
      <con:value>Canada</con:value>
    </con:property>
    <con:property>
      <con:name>destRegion</con:name>
      <con:value>France</con:value>
    </con:property>
    <con:property>
      <con:name>srcRegion</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>accountIndex</con:name>
      <con:value>93isksk</con:value>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-long-lived-token</con:name>
      <con:value>car2</con:value>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-basic</con:name>
      <con:value>car1</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment name="Test" index="0" id="0b8178c0-3fb5-4680-af02-7d8c4e2b75fb">
    <con:service type="REST" name="https://iamcredentials.googleapis.com">
      <con:endpoint wssType="" wssTimeToLive="" username="" password="" outgoingWss="" incomingWss="" domain="" authProfile="Inherit From Parent">https://iamcredentials.googleapis.com</con:endpoint>
    </con:service>
    <con:service type="REST" name="https://oauth2.googleapis.com">
      <con:endpoint wssType="" wssTimeToLive="" username="" password="" outgoingWss="" incomingWss="" domain="" authProfile="Inherit From Parent">https://oauth2.googleapis.com</con:endpoint>
    </con:service>
    <con:property>
      <con:name>numberRestrictions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>numberActiveRegions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>numberTotalRegions</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>platformCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>defaultEmail2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>defaultEmail</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>federated_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>regionless_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>c2id_bearer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lolregion-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ambiguous_username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>puuid</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>atlas-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>atlas-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>signupCaptchaBypass</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-summoner-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-lol-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-env-secret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>test-automation-env</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>otherRegion2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>otherRegion</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>destRegion</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>srcRegion</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>accountIndex</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-long-lived-token</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>soapui-uber-client-basic</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags>
    <con:tag>
      <con:id>07ead7af-4cb8-4573-b98f-8022a38f3b34</con:id>
      <con:name>service_rso_account_service</con:name>
    </con:tag>
    <con:tag>
      <con:id>813caf9c-009f-4538-afad-5d302d40b855</con:id>
      <con:name>service_atlas</con:name>
    </con:tag>
    <con:tag>
      <con:id>96e81a3f-614f-4b80-bd19-1486caf0bfb5</con:id>
      <con:name>feature_alias_creation</con:name>
    </con:tag>
    <con:tag>
      <con:id>603707c8-07ca-4645-b472-f498de8d894f</con:id>
      <con:name>feature_account_creation</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
