<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="API Tests" id="f00470d9-eaee-452d-bbd6-b064686813f6" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f00470d9-eaee-452d-bbd6-b064686813f6fileName">API-Tests</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>testRegion1</con:name>
      <con:value>${#Project#srcRegion}</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b407e352-14e8-440f-bf25-abe254c02b61">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="cd04cfb9-4faf-4b69-9ec6-24af2181f7ae">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
