<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Setting player alias" id="0454b75f-3a00-41d9-bcbd-ef3a95e8b020" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0454b75f-3a00-41d9-bcbd-ef3a95e8b020fileName">Setting-player-alias</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
